html, body{
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
}

.header{
    background-image: url("images/background.jpg");
    background-attachment: fixed;
    background-position: center; 
    display: flex;
    justify-content: space-around; 
    height: 208px;
    color: #FFFFFF;
}

h1{
    margin-left: 42px;
    margin-top: 75.45px;
    font-size: 44px;
    text-shadow: 1px 1px 2px grey, 0 0 1em grey, 0 0 0.2em grey;
}

button{
    height: 20px;
    margin-top: 90px;
    border: none;
    background: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    text-shadow: 1px 1px 2px grey, 0 0 1em grey, 0 0 0.2em grey;
}

